<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dev.ledger.server</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{NODE}}</string>
    <string>--import</string>
    <string>{{ROOT}}/node_modules/tsx/dist/loader.mjs</string>
    <string>{{ROOT}}/src/cli.ts</string>
    <string>serve</string>
  </array>
  <key>WorkingDirectory</key>
  <string>{{ROOT}}</string>
  <key>EnvironmentVariables</key>
  <dict>
{{ENV}}
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>10</integer>
  <key>StandardOutPath</key>
  <string>{{LOG}}</string>
  <key>StandardErrorPath</key>
  <string>{{LOG}}</string>
</dict>
</plist>
